[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fscache"]
	path = fscache
	url = https://gitlab.com/cnrgh/databases
[submodule "sched"]
	path = sched
	url = https://github.com/cran/sched
[submodule "sqlq"]
	path = sqlq
	url = https://github.com/cran/sqlq
